<div class="dialog-custom-content-wrap dialog-custom-box">
  <div>
    <div class="dialog-custom-header">
      <h2 class="dialog-custom-header-text">Users</h2>
    </div>

    <div class="mt-1">
      <!-- <h2 class="mat-h2"> History</h2> -->
      <mat-card-content style="max-height: 400px;overflow: auto;">
        <div fxLayout="column">
          <table mat-table [dataSource]="historyresult">
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef class="column-5"> First Name </th>
              <td mat-cell *matCellDef="let item">{{item?.createdDate | date: 'dd/MM/yyyy'}}</td>
            </ng-container>
  
            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef class="column-5"> Last Name </th>
              <td mat-cell *matCellDef="let item"> <span *ngIf="item.subCapability != null && item.capability != null"><b>{{item?.subCapability.name}}</b> in {{item?.capability.name}} </span>
                <span *ngIf="item.subCapability == null && item.capability == null"><b> {{item.activityName}} </b> </span>
              </td>
            </ng-container>
  
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef class="column-5"> Email </th>
              <td mat-cell *matCellDef="let item">
                {{getstatusName(item.statusId)}}
              </td>
            </ng-container>
  
            <ng-container matColumnDef="user">
              <th mat-header-cell *matHeaderCellDef class="column-5"> Role </th>
              <td mat-cell *matCellDef="let item">
                {{item.users?.firstName}} {{item.users?.lastName}}
              </td>
            </ng-container>
  
            <ng-container matColumnDef="user">
              <th mat-header-cell *matHeaderCellDef class="column-5"> Status </th>
              <td mat-cell *matCellDef="let item">
                {{item.users?.firstName}} {{item.users?.lastName}}
              </td>
            </ng-container>
            
            <!-- <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="text-right">
              </th>
              <td mat-cell *matCellDef="let item">
                <div fxLayout="row" fxLayoutAlign="end center">
                  <button (click)="onViewClick(item)" mat-button color="primary" i18n>View Details</button>
                </div>
              </td>
            </ng-container> -->
  
            <tr mat-header-row *matHeaderRowDef="historyColumns">
            </tr>
            <tr mat-row *matRowDef="let row; columns: historyColumns;">
            </tr>
          </table>
        </div>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
        <mat-paginator [length]="range.total" [pageSize]="range.limit"
         (page)="onPage($event)" showFirstLastButtons="true">
        </mat-paginator>
      </mat-card-actions>
    </div>
   
  </div>
</div>