.fullscreen-dialog {
  max-width: 50% !important;
  z-index: auto;
  left: '10px';
  top: '10px';
}

.user-grid-head {
  ::ng-deep{
    .mat-form-field-wrapper {
      padding: 0;
      font-weight: bold;
    }
  } 
}

.border-50 {
  border-radius: 50%;
}