<div class="dialog-custom-content-wrap dialog-custom-box">
  <div>
    <div class="dialog-custom-header">
      <h2 class="dialog-custom-header-text">Users</h2>
    </div>
    <button mat-raised-button (click)="addUserDialog()">Add User</button>
      <br>
    
    <div class="mt-1">
      <!-- <h2 class="mat-h2"> Users</h2> -->
      <mat-card-content style="max-height: 400px;overflow: auto;">
        <div fxLayout="column">
          <table mat-table [dataSource]="userresult">
            <ng-container matColumnDef="firstName">
              <th mat-header-cell *matHeaderCellDef class="column-5"> First Name </th>
              <td mat-cell *matCellDef="let item">{{item?.firstName}}</td>
            </ng-container>
  
            <ng-container matColumnDef="lastName">
              <th mat-header-cell *matHeaderCellDef class="column-5"> Last Name </th>
              <td mat-cell *matCellDef="let item">{{item?.lastName}}</td>
            </ng-container>
  
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef class="column-5"> Email </th>
              <td mat-cell *matCellDef="let item">{{item?.email}}</td>
            </ng-container>
  
            <ng-container matColumnDef="role">
              <th mat-header-cell *matHeaderCellDef class="column-5"> Role </th>
              <td mat-cell *matCellDef="let item">{{item?.role}}</td>
            </ng-container>
            
            <!-- <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef class="text-right">
              </th>
              <td mat-cell *matCellDef="let item">
                <div fxLayout="row" fxLayoutAlign="end center">
                  <button (click)="onViewClick(item)" mat-button color="primary" i18n>View Details</button>
                </div>
              </td>
            </ng-container> -->
  
            <tr mat-header-row *matHeaderRowDef="userColumns">
            </tr>
            <tr mat-row *matRowDef="let row; columns: userColumns;">
            </tr>
          </table>
        </div>
      </mat-card-content>
      <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
        <mat-paginator [length]="range.total" [pageSize]="range.limit"
         (page)="onPage($event)" showFirstLastButtons="true">
        </mat-paginator>
      </mat-card-actions>
    </div>
   
  </div>
</div>