
:root{
  --bg-main-color: #f5f7fa;
}
.container{
    min-width: 100%;  
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  .side-navbar{
      width: 18%;
      height: 100%;
  }
  .header{
    width: 82%;
    flex-shrink: 0;
    flex-grow: 0;
    background: #ffffff;
    padding: 3px 5px 3px 0;
    color: #242a3a;
    .divider-line{
      height: 30px;
      width: 1px;
      background-color: #e6e8ea;
    }
    .header-profile{
      img{
        height: 35px;
        width: 35px;
      }
    }
  }
  .search-input{
    ::ng-deep{
      .mat-form-field-wrapper{
        padding-bottom: 0;
      }
    }
  }
  .content{
    flex-shrink: 1;
    flex-grow: 1;
    padding: 3px 5px;
    position: relative;
    overflow-y: scroll;
  }
  .inner-container{
    overflow-y: auto;
    background-color: var(--bg-main-color);
  }
  .footer{
    // flex-shrink: 0;
    // flex-grow: 0;
    // background: #eee;
    // padding: 3px 15px;
    // background: #8ab0c3;
    padding: 3px 5px;
    color: #e6e8ea;
  }
  
  // nav a {
  //   padding: 5px 10px;
  //   text-decoration: none;
  //   margin-top: 10px;
  //   display: inline-block;
  //   background-color: #eee;
  //   border-radius: 4px;
  // }
  
  // nav a:visited, a:link {
  //   color: #607D8B;
  // }
  // nav a:hover {
  //   color: #039be5;
  //   background-color: #CFD8DC;
  // }
  // nav a.active {
  //   color: #039be5;
  // }

  nav {
    .nav-line {
      width: 55%;
      height: 1px;
      background-color: #ffffff8c;
    }
    .nav-minimize {
      width: 40%;
    }
    .links:has(.active) {
      background: rgba(255, 255, 255, 0.17);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
    }
    // .link-bg {
    //   background: rgba(255, 255, 255, 0.17);
    //   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    //   backdrop-filter: blur(5px);
    //   -webkit-backdrop-filter: blur(5px);
    // }
    .links:hover {
      background: rgba(255, 255, 255, 0.17);
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      backdrop-filter: blur(5px);
      -webkit-backdrop-filter: blur(5px);
    }
  }
    