
<div class="container">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3>Add User</h3>
                </div>
                <div class="card-body">
                    <form class="form" [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Role</mat-label>
                            <mat-select id="branch" name="branch" formControlName="role">
                              <mat-option value="User">User</mat-option>
                              <mat-option value="Reviewer">Reviewer</mat-option>
                            </mat-select>
                            <mat-error *ngIf="(registerFormControl.role.touched || submitted) && registerFormControl.role.errors?.required">
                                Role is required
                            </mat-error>
                          </mat-form-field>
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>First Name</mat-label>
                            <input type="text" matInput formControlName="firstName"
                                placeholder="First Name">
                            <mat-error *ngIf="(registerFormControl.firstName.touched || submitted) && registerFormControl.firstName.errors?.required">
                                First Name is required
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Last Name</mat-label>
                            <input type="text" matInput formControlName="lastName"
                                placeholder="Last Name">
                            <mat-error *ngIf="(registerFormControl.lastName.touched || submitted) && registerFormControl.lastName.errors?.required">
                                lastName Name is required
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Email</mat-label>
                            <input type="text" matInput formControlName="email"
                                placeholder="Email">
                            <mat-error *ngIf="(registerFormControl.email.touched || submitted) && registerFormControl.email.errors?.required">
                                Email is required
                            </mat-error>
                            <mat-error *ngIf="registerFormControl.email.touched && registerFormControl.email.errors?.email">
                                Enter a valid email address
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'"
                                placeholder="Enter password">
                            <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
                                <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="(registerFormControl.password.touched || submitted) && registerFormControl.password.errors?.required">
                                Password is required
                            </mat-error>
                            <mat-error *ngIf="registerFormControl.password.touched && registerFormControl.password.errors?.invalidPassword">
                                Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
                                letter and 1 number
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Confirm Password</mat-label>
                            <input type="password" matInput formControlName="confirmPassword"
                                placeholder="Enter confirm password">
                            <mat-error *ngIf="(registerFormControl.confirmPassword.touched || submitted)&& registerFormControl.confirmPassword.errors?.required">
                                Confirm Password is required
                            </mat-error>
                            <mat-error *ngIf="registerFormControl.confirmPassword.touched && registerFormControl.confirmPassword.errors?.passwordMismatch">
                                Passwords doesnot match
                            </mat-error>
                        </mat-form-field>
                        <!-- <div class="form-group mb-3 mt-3">
                            <button type="submit" class="btn btn-success">Submit</button>
                            <button type="button" (click)="onNoClick()" class="btn btn-primary" style="margin-left: 10px;">
                                Close
                            </button>
                        </div> -->
                        <div class="my-3 text-center">
                            <button [disabled]="loading" type="submit" mat-raised-button color="primary"
                            class="me-3 w-40 rounded-pill btn-ht">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                            Submit</button>
                            <button type="button" mat-raised-button color="warn"
                            class="me-3 w-40 rounded-pill btn-ht"
                             (click)="onNoClick()">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>