<div class="limiter">
  <div class="container-login100">
    <div
      class="row wrap-login100 px-5 d-flex justify-content-center align-items-center flex-wrap"
    >
      <div class="col-md-6 js-tilt d-none d-md-block" ngTilt>
        <img src="../../assets/img-01.png" alt="IMG" class="img-fluid" />
      </div>
      <div class="col-md-6 col-12">
        <mat-card *ngIf="!isLogin" class="py-4 px-5 shadow-none">
          <mat-card-title class="text-center login100-form-title"
            >KPFS Exp - Login</mat-card-title>
          <mat-card-actions>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="mt-3">
              <div class="">
                <mat-form-field class="w-100 round-input" appearance="outline">
                  <mat-label>Username</mat-label>
                  <input
                    type="text"
                    matInput
                    formControlName="username"
                    placeholder="Username"
                  />
                  <mat-icon matPrefix>mail</mat-icon>
                  <mat-error
                    *ngIf="submitted || f.username.errors?.required"
                  >
                    Username is required
                  </mat-error>
                  <mat-error
                    *ngIf="f.username.touched && f.username.errors?.email"
                  >
                    Enter a valid email address
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="">
                <mat-form-field class="w-100 round-input" appearance="outline">
                  <mat-label>Password</mat-label>
                  <input
                    type="password"
                    matInput
                    formControlName="password"
                    placeholder="Password"
                  />
                  <mat-icon matPrefix>lock</mat-icon>
                  <mat-error
                    *ngIf="submitted || f.password.errors?.required"
                  >
                    Password is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="text-center mt-3">
                <button
                  [disabled]="loading"
                  mat-raised-button
                  color="primary"
                  class="me-3 w-100 rounded-pill btn-ht"
                >
                  <span
                    *ngIf="loading"
                    class="spinner-border spinner-border-sm me-1"
                  ></span>
                  Login
                </button>
                <!-- <a mat-raised-button [routerLink]='["/registration"]'>Registration</a> -->
              </div>
            </form>
            <div class="d-flex justify-content-center gap-3 mt-3">
              <div>Don't have an account?</div>
              <a class="text-decoration-none" [routerLink]="['/registration']"
                >Register now!
              </a>
            </div>
          </mat-card-actions>
          <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
            {{ error }}
          </div>
        </mat-card>
        <mat-card *ngIf="isLogin" class="py-4 px-5 shadow-none">
          <mat-card-title class="text-center login100-form-title"
            >Two Step Verification</mat-card-title
          >
          <div *ngIf="successMessage" class="alert alert-success mt-3 mb-0">
            {{ successMessage }}
          </div>
          <mat-card-actions>
            <form [formGroup]="codeForm" (ngSubmit)="onCodeSubmit()">
              <div class="mt-3">
                <mat-form-field class="w-100 round-input" appearance="outline">
                  <mat-label>Code</mat-label>
                  <input
                    type="text"
                    matInput
                    formControlName="code"
                    placeholder="Code"
                    maxlength="6"
                    minlength="6"
                  />
                  <mat-icon matPrefix>lock</mat-icon>
                  <mat-error *ngIf="submitted || c.code.errors?.required">
                    Code is required
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="text-center mt-3">
                <button
                  [disabled]="loading"
                  mat-raised-button
                  color="primary"
                  class="me-3 w-100 rounded-pill btn-ht"
                >
                  <span
                    *ngIf="loading"
                    class="spinner-border spinner-border-sm me-1"
                  ></span>
                  Submit
                </button>
              </div>
            </form>
          </mat-card-actions>
          <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
            {{ error }}
          </div>
        </mat-card>
      </div>
    </div>
  </div>
</div>
